/********************
 * Base
 ********************/
a {
	text-decoration:none !important;
	-moz-transition: color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}
a:link {
	color:#428bca;
}
a:visited {
	color:#428bca;
}
a:hover {
	color:#E8870C
}

p {
	font-size:22px;
	line-height: 1.6em;
	margin-bottom:30px;
}

footer {
	margin-top:20px;
}

figure {
	margin-bottom:30px;
	text-align:center;
}

	figure img {
		border:5px solid white;
		margin-bottom:10px;
		outline: 1px solid #efefef;
		box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
		-webkit-box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
	}

figcaption {
	font-size:18px;
	font-style:italic;
}

blockquote p {
	color:#555;
	font-size: 28px;
	line-height:1.8em;
}

cite {
	color:#ccc;;
	font-style: italic;
}

ul, ol {
	font-size:22px;
	margin-bottom:30px;
	padding-left:26px;
}

ol {
	padding-left: 30px;
}

pre {
	margin:30px 0;
}

/********************
 * Navigation
 ********************/
.navigation {
	margin:15px 0;
}

/*********************
 * Logo
 *********************/
.logo-text {
        font-family: Helvetica, Arial, sans-serif;
	font-size:80px;
	margin:0 auto;
	letter-spacing: 5px;
	text-align:center;
	vertical-align:middle;
}

.logo-subtext {
	font-size: 36px;
}

/***********************
 * Post
 ***********************/
.post {
	margin:20px 0 30px;
}
	.post .meta {
		font-size:16px;
		margin-top: -10px;
		margin-bottom:20px;
	}

.post.post-full .title {
	color: #E8870C;
	font-size:48px;
	text-align:center;
}

.post.post-full .meta {
	text-align:center;
}

.post.post-full h2 {
	font-size:38px;
	margin:50px 0 10px;
}

.post.post-full h3 {
	color:#E8870C;
	font-size:32px;
	margin:30px 0 10px;
	text-decoration: underline;
}
.post.post-full h3:before {
	content:"\00bb\0000a0"; ;
}

.post.post-full img {
	height:auto;
	max-width:100%;
}

.post.post-full .code-snippet {
	margin-bottom:30px;
}

/************************
* Copy
************************/
.copy {
	font-size:95%;
	position:relative;
	top:15px;
}

/*************************
* Page navigation
**************************/
.pagenavi {
	font-size:18px;
}

/*************************
* Relative
**************************/
.relative {
	position:relative;
}

/************************
 * Small Lists
 ************************/
.list-small {
	font-size:18px !important;
}
