<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.main_title }} - {{ page.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{page.description}}">
    {% else %}
    <meta name="description" content="{{site.description}}">
    {% endif %}
    <meta name="author" content="Brian Scaturro">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="alternate" type="application/atom+xml" title="brianscaturro.com feed" href="http://brianscaturro.com/atom.xml" />
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript" src="//use.typekit.net/pip1ewm.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% include tracking.html %}
</head>
<body>
    <div class="container">
        <header>
            <h1 class="logo-text">Hello MEAN</h1>
        </header>

        <main role="main" class="row">
            <div class="col-md-10 col-md-offset-1">
